body {
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.hero-container {
    position: relative;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#sameSize{
  height: 300px;
  text-align: center;
}

  
.container {
    position: relative;
    text-align: center;
    color: white;
}
.card{
    margin-bottom: 10px;
    width: 30%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

.about-section {
    padding-top: 10rem;
     background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%); 
    
}

.about-section p {
    margin-bottom: 5rem;
    
}

.projects-section {
    padding: 0;
    

  }
  .projects-section .featured-text {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: 0.25rem;
      width: 30%;
    }
  }
  #market{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
   
  }

  
.proPrice{
  display: flex;
  flex-direction: row;
  margin-right: 3px;
}

.about-section{
    background: url(../img/peter-unsplash.jpg);
    background: url(../img/peter-unsplash.jpg);
    background-size: cover;
    background-position: bottom -380px center;
    background-repeat: no-repeat;

}
#contactForm{
  display: flex;
}
.adopt-section{
  background: none;
}

.shop-section{
  background: none;
}

.contact-section{
  background: none;
  padding-top: 5rem;
}
